// alignment config file

apptainer {
    enabled = true
    autoMounts = true
    }

aws {
    accessKey = '<public key>'
    secretKey = '<private key>'
    client {
        endpoint = 'https://rgw.ohsu.edu/'
        s3PathStyleAccess = true
    }
}

// specify executor args for each process

process {
    withName: 'CGPMAP' {
        memory = '200 GB'
        cpus = 6
    }
    withName: 'AlignmentMetrics' {
        memory = '10 GB'
        cpus = 1
    }
     withName: 'WgsMetrics' {
        memory = '10 GB'
        cpus = 1
    }
    withName: 'InsertMetrics' {
        memory = '10 GB'
        cpus = 1
    }   
}