apptainer {
    enabled = true
    autoMounts = true
    }

aws {
    accessKey = '<public key>'
    secretKey = '<private key>'
    client {
        endpoint = 'https://rgw.ohsu.edu/'
        s3PathStyleAccess = true
    }
}

// specify executor args for each process
process {
    withName: 'SampleID' {
        memory = '1 GB'
        cpus = 1
    }
    withName: 'CGPWGS' {
      memory = '115 GB'
      cpus = 28
    }
}