apptainer {
    enabled = true
    autoMounts = true
    }

aws {
    accessKey = '<public key>'
    secretKey = '<private key>'
    client {
        endpoint = 'https://rgw.ohsu.edu/'
        s3PathStyleAccess = true
    }
}

// specify executor args for each process
process {
    withName: 'SampleID' {
        memory = '1 GB'
        cpus = 1
    }
    withName: 'ConfigManta' {
        memory = '1 GB'
        cpus = 1
    }
    withName: 'MantaRunWorkflow' {
        memory = '32 GB'
        cpus = 4
    }
    withName: 'MantaQualityFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'ConfigStrelka' {
        memory = '1 GB'
        cpus = 1
    }
    withName: 'StrelkaRunWorkflow' {
        memory = '10 GB'
        cpus = 8
    }
    withName: 'StrelkaIndelFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'StrelkaSnvFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'DellyCall' {
        memory = '10 GB'
        cpus = 1
    }
    withName: 'DellyTable' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'DellyFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'DellyQualityFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'GRIDSS' {
        memory = '32 GB'
        cpus = 8
    }
    withName: 'GridssSomaticFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'GetPileupSummaries' {
        memory = '2 GB'
        cpus = 1
    }
    withName: 'CalculateContamination' {
        memory = '2 GB'
        cpus = 1
    }
    withName: 'MUTECT2' {
        memory = '40 GB'
    }
    withName: 'MERGE' {
        memory = '2 GB'
        cpus = 1
    }
    withName: 'MergeStats' {
        memory = '2 GB'
        cpus = 1
    }
    withName: 'LearnOrientation' {
        memory = '2 GB'
        cpus = 1
    }
    withName: 'FilterMutect' {
        memory = '40 GB'
        cpus = 1
    }
    withName: 'AlleleCounter' {
        memory = '40 GB'
        cpus = 4
    }
}