// variant calling and allele count config file

apptainer {
    enabled = true
    autoMounts = true
    }

aws {
    accessKey = '<public key>'
    secretKey = '<private key>'
    client {
        endpoint = 'https://rgw.ohsu.edu/'
        s3PathStyleAccess = true
    }
}

// specify executor args for each process

process {
    withName: 'CGPWGS' {
        memory = ''
        cpus = 
    }
    withName: 'ConfigManta' {
        memory = ''
        cpus = 
    }
    withName: 'MantaRunWorkflow' {
        memory = ''
        cpus = 
    }
    withName: 'MantaQualityFilter' {
        memory = ''
        cpus = 
    }
    withName: 'ConfigStrelka' {
        memory = ''
        cpus = 
    }
    withName: 'StrelkaRunWorkflow' {
        memory = ''
        cpus = 
    }
    withName: 'StrelkaIndelFilter' {
        memory = ''
        cpus = 
    }
    withName: 'StrelkaSnvFilter' {
        memory = ''
        cpus = 
    }
    withName: 'DellyCall' {
        memory = ''
        cpus = 
    }
    withName: 'DellyTable' {
        memory = ''
        cpus = 
    }
    withName: 'DellyFilter' {
        memory = ''
        cpus = 
    }
    withName: 'DellyQualityFilter' {
        memory = ''
        cpus = 
    }
    withName: 'GRIDSS' {
        memory = ''
        cpus = 
    }
    withName: 'GridssSomaticFilter' {
        memory = ''
        cpus = 
    }
    withName: 'GetPileupSummaries' {
        memory = ''
        cpus = 
    }
    withName: 'CalculateContamination' {
        memory = ''
        cpus = 
    }
    withName: 'MUTECT2' {
        memory = ''
        cpus = 
    }
    withName: 'MERGE' {
        memory = ''
        cpus = 
    }
    withName: 'MergeStats' {
        memory = ''
        cpus = 
    }
    withName: 'LearnOrientation' {
        memory = ''
        cpus = 
    }
    withName: 'FilterMutect' {
        memory = ''
        cpus = 
    }
    withName: 'AlleleCounter' {
        memory = ''
        cpus =
    }
}