// variant calling and allele count config file

apptainer {
    enabled = true
    autoMounts = true
    }

aws {
    accessKey = '<public key>'
    secretKey = '<private key>'
    client {
        endpoint = 'https://rgw.ohsu.edu/'
        s3PathStyleAccess = true
    }
}

// specify executor args for each process

process {  
    withName: 'CGPWGS' {
        memory = '100 GB'
        cpus = 32
    }
    withName: 'DellyCall' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'DellyTable' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'DellyFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'DellyQualityFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'GRIDSS' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'GridssSomaticFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'ConfigManta' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'MantaRunWorkflow' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'MantaQualityFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'ConfigStrelka' { 
        memory = '5 GB'
        cpus = 1
    }
    withName: 'StrelkaRunWorkflow' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'StrelkaIndelFilter' {
        memory = '5 GB'
        cpus = 1
    }
    withName: 'StrelkaSnvFilter' {
        memory = '5 GB'
        cpus = 1
    }
}
